body{
background-color: rgb(165, 198, 236);
 }

 h1{
color: rgb(15, 5, 110);
text-align: center;
 }

h2{
margin: 5px; 
text-align: center; 
font-style: italic; 
color: rgb(15, 5, 110);

}

p{
margin: 5px; 
background-color: rgba(73, 87, 209, 0.459); 
text-align: center;
}
img{
display: block; 
margin: auto;
 width: 20%;
}

ul li{
color: rgb(22, 11, 63); 
font-style: oblique;
}
 